doctype html  
html(lang='en')  
 head
   title PUG
 body
   h1 FORM
div.container
    form(action="")
        div
            label(for="name") Name: 
                input(type="text")
        div
            label(for="gender" ) Gender: 
                label(for="male") Male
                    input(type="radio" name="Male") 
                label(for="female") Female
                    input(type="radio" name="Female") 
        div
            label(for="address") Address: 
                input(type="text")              
